* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 170px;
}

.letter-arrow {
  text-align: center;
  font-family: 'Staatliches', cursive;
  margin-bottom: 8px;
}

/* Header */

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85px;
}

.search-area {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 25px;
}

#logo {
  width: 90px;
}

.search {
  display: flex;
  max-width: 660px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin-left: 50px;
}

.search:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.search input {
  width: 530px;
  border: none;
  margin: 0 8px;
  font-size: 16px;
  outline: none;
}

.search button {
  padding-right: 15px;
  border: none;
  border-right: 1px solid #ddd;
  font-family: 'ABeeZee', sans-serif;
  font-size: 20px;
  color: #888;
  background: none;
  cursor: pointer;
}

#keyboard-icon {
  width: 20px;
  margin: 0 15px;
  cursor: pointer;
}

#magnifier-icon {
  width: 17px;
  cursor: pointer;
}

.user-options {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 30px;
}

.menu-button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}

.menu-button .button-parts {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #666;
}

#user-img {
  width: 30px;
  padding: 2px;
  border: 2px solid #4285F4;
  border-radius: 50%;
  margin-left: 20px;
}

/* Header - Nav menu */

nav {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

nav .container {
  display: flex;
}

.nav-option {
  display: flex;
  align-items: center;
  padding: 12px 11px;
  font-size: 13px;
  color: #565656;
}

.nav-option:focus {
  color: #4285F4;
  border-bottom: 3px solid #4285F4;
}

#first-option {
  color: #4285F4;
  border-bottom: 3px solid #4285F4;
}

.nav-option img {
  width: 15px;
  margin-right: 8px;
}

.nav-option .more-icon-parts {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 1px;
  background-color: #676767;
}

.nav-option .more-icon-parts:last-child {
  margin-bottom: 0;
}

/* Main */

main .container {
  width: 680px;
  padding: 10px;
}

/* Results */

#results span {
  font-size: 14px;
  color: #777;
}

.result {
  margin-top: 20px;
}

.result-link {
  font-size: 14px;
  color: #444;
}

.result h2 {
  margin: 7px 0;
  font-size: 20px;
  font-weight: normal;
  color: #0027a7;
}

.result h2:hover {
  text-decoration: underline;
}

.page-description p {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

/* FAQ */

.faq {
  max-width: 650px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 30px 0;
  color: #222;
}

.faq h2 {
  padding: 12px;
  font-size: 20px;
  font-weight: normal;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #ddd;
  cursor: pointer;
}

.question .letter-arrow {
  font-weight: bold;
  margin-bottom: 0;
}

/* Related searches */

#related-searches h2 {
  margin: 30px 0 25px 0;
  font-size: 20px;
  font-weight: normal;
  color: #222;
}

.search-exemples {
  display: flex;
}

.search-exemples .col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.search-exemples .col:first-child {
  margin-right: 30px;
}

.search-exemples .col a {
  font-size: 14px;
  line-height: 1.8;
  color: #0027a7;
}

.search-exemples .col a:hover {
  text-decoration: underline;
}

/* Other-pages area */

.google-pages {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.google-letters h2 {
  font-family: 'Spartan', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.google-letters p {
  padding-left: 6px;
  font-size: 14px;
  color: #4285F4;
}

.google-letters p:hover {
  text-decoration: underline;
}

.google-letters #first-page {
  color: #222;
  text-decoration: none;
}

.letter-blue {
  color: #4285F4;
}

.letter-red {
  color: #DB4437;
}

.letter-yellow {
  color: #F4B400;
}

.letter-green {
  color: #0F9D58;
}

.letters-gle {
  display: flex;
}

#letter-ten {
  padding-left: 2px;
}

.google-more {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.google-letters .letter-arrow {
  font-size: 24px;
}

.letter-arrow:hover {
  text-decoration: none;
}

/* Footer */

footer {
  margin-top: 20px;
  background-color: #eee;
}

.footer-row {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.footer-row p {
  font-size: 15px;
  color: #777;
}

.footer-row a {
  margin-right: 25px;
  font-size: 15px;
  color: #666;
}

.footer-row a:hover {
  color: #444;
}

@media (max-width: 1000px) {
  .container {
    margin: 0 20px;
  }
  .content {
    height: 150px;
    justify-content: center;
  }
  nav .container {
    margin: 0 40px;
  }
  main, footer {
    display: flex;
    justify-content: center;
  }
  .search-area {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }
  .search input {
    width: 350px;
  }
  #logo {
    width: 150px;
    margin: 10px 0 15px 0;
  }
  .menu-button {
    display: none;
  }
  #user-img {
    margin-top: 75px;
  }
  footer {
    border-top: 1px solid #ddd;
  }
  .footer-row {
    border-top: none;
  }
  .footer-row:first-child {
    border-right: 1px solid #ddd;
  }
}

@media (max-width: 780px) {
  #keyboard-icon {
    display: none;
  }
  #magnifier-icon {
    margin-left: 10px;
  }
  .user-options,
  .none {
    display: none;
  }
  .search {
    margin-left: 0;
  }
}

@media (max-width: 570px) {
  .search input {
    width: 250px;
  }
  .none2 {
    display: none;
  }
  .footer-row {
    padding: 10px 0;
  }
  .footer-row p,
  .footer-row a {
    font-size: 12px;
  }
  .footer-row a {
    margin-right: 10px;
  }
}

@media (max-width: 440px) {
  .none3 {
    display: none;
  }
  .search input {
    width: 200px;
  }
  .google-letters h2 {
    font-size: 24px;
  }
  .google-letters p {
    font-size: 12px;
  }
  .footer-row p,
  .footer-row a {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  .search input {
    width: 150px;
  }
  .google-letters h2 {
    font-size: 20px;
  }
  .google-letters p {
    font-size: 10px;
  }
}